.footer {
  height: 5rem;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  &__icon {
    color: var(--icons-color);
    margin: 0.5rem 1rem;
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s ease;

    &:hover {
      color: var(--icons-color-hover);
      cursor: pointer;
      transform: scale3d(1.05, 1.05, 1.05);
    }
  }

  &__container {
    display: flex;
    margin-right: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: $extra-small-font-size;
    color: var(--secondary-font-color);
  }

  &__paragraph {
    width: 100%;
    text-align: end;
    padding-bottom: 0.5rem;
  }

  &__link {
    -webkit-user-select: all;
       -moz-user-select: all;
        -ms-user-select: all;
            user-select: all;

    &:hover{
      cursor: pointer;
    }
  }
}