.footer {
  height: 5rem;
  width: 100%;
  padding: 0 1rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-background-color);
 
  &__icon {
    color: var(--button-color);
    margin: 0.5rem 1rem;
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s ease;
    
    @media (hover: hover) {
      &:hover {
        color: var(--button-color-hover);
        cursor: pointer;
        transform: scale3d(1.05, 1.05, 1.05);
      }
    }

    @media (hover: none) {
      &:active {
        color: var(--button-color-hover);
        cursor: pointer;
        transform: scale3d(1.05, 1.05, 1.05);
      }
    }
  }

  &__container {
    display: flex;
    margin-right: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: $extra-small-font-size;
  }

  &__paragraph {
    width: 100%;
    text-align: end;
    padding-bottom: 0.5rem;
  }

  &__link {
    @media (hover: hover) {
      &:hover{
        cursor: pointer;
      }
    }
  }
}