@font-face {
  font-family: "MartianMono";
  src: url(/public/fonts/MartianMono-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "RubikMono";
  src: url(/public/fonts/RubikMonoOne-Regular.ttf) format('truetype');
  font-weight: 400;
}