*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body, area, menu, ul, a {
  all: unset;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}