.App {
  font-family: "MartianMono";
  min-height: 100dvh;
  min-width: 100%;
  background-image: linear-gradient(
    180deg, 
    var(--main-background-color) 0%, 
    var(--secondary-background-color) 60%, 
    var(--third-background-color) 100%
  );
  overflow: hidden;
}