.galleryImage {
  width: 100%;
  height: 100%;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__paragraph {
    z-index: 10;
    position: absolute;
    bottom: 5%;
    right: 1rem;
    width: 100%; 
    text-align: end;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-style: italic;
    font-size: $smallest-font-size;
    color: rgba(252, 244, 217, 1);
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(252, 244, 217, 1);
            text-decoration-color: rgba(252, 244, 217, 1);
    text-decoration-thickness: 0.2rem;
  }
}