.contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  width: 100%;

  &__container {
    margin: 1rem 0;

    @media screen and (600px <= width < 1000px ) {
      max-width: 90%;
    }

    @media screen and ( width >= 1000px ) {
      max-width: 80%;
    }

    &_image {
      @extend .contentBlock__container;
      height: 15rem;
      width: 100%;
      border-radius: 1rem;
      border-color: var(--border-color);
      border-style: solid;
      border-width: 0.2rem;
      overflow: hidden;

      @media screen and (width >= 600px) {
        height: 20rem;
      }
    }
  }
}