.layout {
  min-height: 100dvh;
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__container {
    width: 100%;
    min-height: calc(100dvh - 26.8rem);
    overflow: hidden;
    position: relative;
    padding-bottom: 5vh;

    @media screen and (width < 600px) {
      min-height: calc(100dvh - 21rem);
    }

    @media screen and (600px <= width < 1000px) {
      min-height: calc(100dvh - 25.8rem);
    }
  }
}