.mainImage {
  width: 90%;
  min-height: 10rem;
  height: 10rem;
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  border: 0.2rem solid var(--border-color);
  box-shadow: 0 0 2rem 0 rgba(0,0,0,0.75) inset;
}