.header {
  position: relative;
  height: 5rem;
  width: 100%;
  top: 0;

  &__container {
    padding: 0 2rem 0 1rem;
    width: calc(100% - 3rem);
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__paragraph {
    position: absolute;
    width: 100%;
    color: var(--main-font-color);
    text-shadow: 0 0 0.2rem var(--main-font-color);
    margin: 1rem 0;
    font-size: $normal-font-size;
    font-family: RubikMono;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    @media screen and (width < 600px) {
      position: relative;
      text-align: end;
      font-size: $extra-small-font-size;
    }
  }

  &__icon {
    color: var(--button-color);
    padding-right: 1.5rem;
    font-size: $normal-font-size;

    @media(hover:hover) {
      &:hover {
        cursor: pointer;
        color: var(--button-color-hover);
      }
    }

    @media(hover:none) {
      &:active {
        color: var(--button-color-hover);
      }
    }
  }
}