.header {
  position: relative;
  height: 5rem;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);

  @media screen and (width < 600px) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: $sticky-index;
  }

  &__text_container {
    position: absolute;
    width: 100%;
    color: var(--main-font-color);
    text-shadow: 0 0 0.2rem var(--main-font-color-hover);
    padding: 1rem 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    @media screen and (width < 600px) {
      position: relative;
    }
  }

  &__icon {
    color: var(--button-color);
    padding-right: 1.5rem;
    font-size: $normal-font-size;

    @media(hover:hover) {
      &:hover {
        cursor: pointer;
        color: var(--button-color-hover);
      }
    }

    @media(hover:none) {
      &:active {
        color: var(--button-color-hover);
      }
    }
  }
}