.reversible {
  display: flex;
  width: 100%;
  height: 100%;

  &__row {
    @extend .reversible;
    flex-direction: row-reverse;
  }

  &__column {
    @extend .reversible;
    flex-direction: column-reverse;
  }
}